<script src="{{ "/js/places_transition.js" | prepend: site.baseurl }}"></script>

<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/hero.jpg');">
    {% include navigation.html %}
    <div class="places">
      <div class="place cristo-redentor">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/cristo-redentor.svg" title="Cristo Redentor" alt="Cristo Redentor" class="main-img">
        </div>
      </div>

      <div class="place arcos-da-lapa">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/arcos-da-lapa.svg" title="Arcos da Lapa" alt="Arcos da Lapa" class="main-img">
        </div>
      </div>

      <div class="place copacabana">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/copacabana.svg" title="Copacabana" alt="Copacabana" class="main-img">
        </div>
      </div>

      <div class="place pao-de-acucar">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/pao-de-acucar.svg" title="Pão de Açúcar" alt="Pão de Açúcar" class="main-img">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{{ button.url }}" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#strategy" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
